# 0.0 Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import re
import umap.umap_ as umap
import pickle
import s3fs

from sqlalchemy import create_engine, text
from scipy.cluster import hierarchy as hc
from sklearn import preprocessing as pp
from sklearn import metrics as mt

## 0.2 Loading Dataset

In [2]:
path_s3 = 's3://insiders-dataset-ttb/'
df_raw = pd.read_csv(path_s3 + 'Ecommerce.csv', encoding = 'iso-8859-1')

# 1.0 Descrição dos Dados

In [3]:
df1 = df_raw.drop(columns= 'Unnamed: 8').copy()

## 1.1 Rename Columns

In [4]:
cols_new = ['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date', 'unit_price', 'customer_id','country']
df1.columns = cols_new

## 1.2 Data Dimensions, Types e NA

In [5]:
df1.shape

(541909, 8)

## 1.3 Datatypes

In [6]:
df1.dtypes

invoice_no       object
stock_code       object
description      object
quantity          int64
invoice_date     object
unit_price      float64
customer_id     float64
country          object
dtype: object

## 1.4 Check NA

In [7]:
df1.isna().sum()

invoice_no           0
stock_code           0
description       1454
quantity             0
invoice_date         0
unit_price           0
customer_id     135080
country              0
dtype: int64

## 1.5 Replace NA

In [8]:
# remove na
df_missing = df1.loc[df1['customer_id'].isna(), :]
df_not_missing = df1.loc[~df1['customer_id'].isna(), :]

invoice_number_missing = df_missing.loc[:, 'invoice_no'].tolist()
df_not_missing.loc[df_not_missing['invoice_no'].isin(invoice_number_missing), :]

Empty DataFrame
Columns: [invoice_no, stock_code, description, quantity, invoice_date, unit_price, customer_id, country]
Index: []

In [9]:
df_not_missing['customer_id'].max()

18287.0

In [10]:
# create reference
df_backup = pd.DataFrame(df_missing[['invoice_no']].drop_duplicates())
df_backup['customer_id'] = np.arange(19000, 19000 + len(df_backup), 1)

# merge with original dataframe
df1 = pd.merge(df1, df_backup, on='invoice_no', how='left')

# coalesce
df1['customer_id'] = df1['customer_id_x'].combine_first(df1['customer_id_y'])

# drop columns
df1 = df1.drop(columns=['customer_id_x', 'customer_id_y'])

## 1.6 Change Datatypes

In [11]:
# invoice_date
df1['invoice_date'] = pd.to_datetime(df1['invoice_date'], format='%d-%b-%y')

# customer_id
df1['customer_id'] = df1['customer_id'].astype(int)

## 1.7 Descriptive Statistics

In [12]:
num_attributes = df1.select_dtypes(include = ['int64', 'float64'])
cat_attributes = df1.select_dtypes(exclude = ['int64', 'float64', 'datetime64[ns]'])

### 1.7.1 Numerical Attributes

In [13]:
# Central Tendecy (Mean and Median)
c1 = pd.DataFrame(num_attributes.apply(lambda x: np.mean(x)))
c2 = pd.DataFrame(num_attributes.apply(lambda x: np.median(x)))

# Dispersion
d1 = pd.DataFrame(num_attributes.apply(lambda x: (x).min()))
d2 = pd.DataFrame(num_attributes.apply(lambda x: (x).max()))
d3 = pd.DataFrame(num_attributes.apply(lambda x: (x).max() - (x).min()))
d4 = pd.DataFrame(num_attributes.apply(lambda x: np.std(x)))
d5 = pd.DataFrame(num_attributes.apply(lambda x: (x).skew()))
d6 = pd.DataFrame(num_attributes.apply(lambda x: (x).kurtosis()))

a = pd.concat([d1,d2,d3, c1,c2,d4,d5,d6], axis = 1)
a.columns = ['min', 'max','range','mean','median','std','skew','kurtosis']
a

,min,max,range,mean,median,std,skew,kurtosis
quantity,-80995.00,80995.0,161990.00,9.552250,3.00,218.080957,-0.264076,119769.160031
unit_price,-11062.06,38970.0,50032.06,4.611114,2.08,96.759764,186.506972,59005.719097
customer_id,12346.00,22709.0,10363.00,16688.840453,16249.00,2911.408666,0.487449,-0.804287

### 1.7.2 Categorical Attributes

In [14]:
# invoice_no

# df1['invoice_no'] = df1['invoice_no'].astype(int)
df_invoice_no = df1.loc[df1['invoice_no'].apply(lambda x: bool(re.search('[^0-9]+', x) ) ), :]
quantity_negative = df_invoice_no.loc[df_invoice_no['quantity'] < 0, 'quantity'].count()

print(f'Quantidade de invoice number com letras: {df_invoice_no.shape[0]} e que tem quantidade negativa: {quantity_negative}')

Quantidade de invoice number com letras: 9291 e que tem quantidade negativa: 9288

In [15]:
# stock_code

# df1['stock_code'] = df1['stock_code'].astype(int)
# len(cat_attributes.loc[cat_attributes['stock_code'].apply(lambda x: bool(re.search('[^0-9]+', x) ) ), 'stock_code'].drop_duplicates())

stock_code_limpeza = list(cat_attributes.loc[cat_attributes['stock_code'].apply(lambda x: bool(re.search('^[a-zA-Z]+$', x) ) ), 'stock_code'].unique())

print(f'Lista de stock code para limpar: {stock_code_limpeza}')

Lista de stock code para limpar: ['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY', 'DCGSSGIRL', 'PADS', 'B', 'CRUK']

In [16]:
# country_code
cat_attributes.loc[:, 'country'].value_counts(normalize = True)
cat_attributes.loc[:, 'country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

# 2.0 Filtragem de Variáveis

In [17]:
df2 = df1.copy()

In [18]:
# ======== unit_price ========
df2 = df2[df2['unit_price'] >= 0.04]

# ======== stock_code ========
df2 = df2[~df2['stock_code'].isin(stock_code_limpeza)]

# ======== description ========
df2 = df2.drop(columns='description', axis = 1)
 
# ======== country ========
df2 = df2[~df2['country'].isin(['European Community','Unspecified'])]

# ======== bad users ========
df2 = df2[~(df2['customer_id'].isin( [16446, 15749] ))]

# ======== quantity ========
df2_purchases = df2[df2['quantity'] >= 0]
df2_returns = df2[df2['quantity'] < 0]

# 3.0 Feature Enginnering

In [19]:
df3 = df2.copy()

## 3.1 Feature Creation

In [20]:
# data reference
df_ref = df3.drop(['invoice_no', 'stock_code', 'quantity','invoice_date','unit_price','country'], axis = 1).drop_duplicates(ignore_index = True)

### 3.1.1 Gross Revenue

In [21]:
# Gross Revenue (Faturamento) quantity * price
df2_purchases.loc[:, 'gross_revenue'] = df2_purchases.loc[:, 'quantity'] * df2_purchases.loc[:, 'unit_price']

# Monetary
df_monetary = df2_purchases[['customer_id', 'gross_revenue']].groupby('customer_id').sum().reset_index()
df_ref = pd.merge(df_ref, df_monetary, on ='customer_id', how='left')
df_ref.isna().sum()

/tmp/ipykernel_2237/4216613857.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_purchases.loc[:, 'gross_revenue'] = df2_purchases.loc[:, 'quantity'] * df2_purchases.loc[:, 'unit_price']

customer_id       0
gross_revenue    91
dtype: int64

### 3.1.2 Recency Days from the last purchase

In [22]:
# Recency - Last day purchase
df_recency = df2_purchases[['customer_id','invoice_date']].groupby('customer_id').max().reset_index()
df_recency['recency_days'] = (df2_purchases['invoice_date'].max() - df_recency['invoice_date']).dt.days
df_recency = df_recency[['customer_id','recency_days']].copy()
df_ref = pd.merge(df_ref, df_recency, on ='customer_id', how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
dtype: int64

### 3.1.3 Quantity of purchases

In [23]:
df_purch = df2_purchases.loc[:, ['customer_id','invoice_no']].drop_duplicates().groupby('customer_id').count().reset_index().rename(columns={'invoice_no': 'purchases'})
df_ref = pd.merge(df_ref, df_purch, on ='customer_id', how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    91
recency_days     91
purchases        91
dtype: int64

### 3.1.5 Quantity of Items purchased

In [24]:
df_items_purch = df2_purchases.loc[:, ['customer_id','quantity']].groupby('customer_id').sum().reset_index().rename(columns={'quantity': 'items_purchased'})
df_ref = pd.merge(df_ref, df_items_purch, on ='customer_id', how='left')
df_ref.isna().sum()

customer_id         0
gross_revenue      91
recency_days       91
purchases          91
items_purchased    91
dtype: int64

### 3.1.6 Avg Ticket Value

In [25]:
df_gross = df2_purchases.loc[:, ['customer_id', 'invoice_no','gross_revenue']].groupby(['customer_id','invoice_no']).sum().reset_index()
df_ticket = df_gross.loc[:,['customer_id','gross_revenue']].groupby('customer_id').mean().reset_index().rename(columns={'gross_revenue': 'avg_ticket'})
df_ref = pd.merge(df_ref, df_ticket, on ='customer_id', how='left')
df_ref.isna().sum()

customer_id         0
gross_revenue      91
recency_days       91
purchases          91
items_purchased    91
avg_ticket         91
dtype: int64

### 3.1.7 Avg Recency Days

In [26]:
df_aux = df2[['customer_id', 'invoice_date']].drop_duplicates().sort_values(['customer_id', 'invoice_date'], ascending=[True, True])
df_aux['next_customer_id'] = df_aux['customer_id'].shift()
df_aux['previous_date'] = df_aux['invoice_date'].shift()

df_aux['avg_recency_days'] = df_aux.apply(lambda x: (x['invoice_date'] - x['previous_date']).days if x['customer_id'] == x['next_customer_id'] else np.nan, axis = 1)

df_aux = df_aux.drop(columns=['invoice_date', 'next_customer_id', 'previous_date'], axis = 1).dropna()

df_avg_recency_days = df_aux.groupby('customer_id').mean().reset_index()
df_ref = pd.merge(df_ref, df_avg_recency_days, on ='customer_id', how='left')
df_ref.isna().sum()

customer_id            0
gross_revenue         91
recency_days          91
purchases             91
items_purchased       91
avg_ticket            91
avg_recency_days    2816
dtype: int64

### 3.1.9 Number of Orders Returned

In [27]:
# Number of Returns
df_number_returns = df2_returns.loc[:, ['customer_id','invoice_no']].drop_duplicates().groupby('customer_id').count().reset_index().rename(columns = {'invoice_no': 'number_returns'})
df_ref = pd.merge(df_ref, df_number_returns, on ='customer_id', how='left')
df_ref.loc[df_ref['number_returns'].isna(), 'number_returns'] = 0  
df_ref.isna().sum()

customer_id            0
gross_revenue         91
recency_days          91
purchases             91
items_purchased       91
avg_ticket            91
avg_recency_days    2816
number_returns         0
dtype: int64

### 3.1.10 Monetary value of returns

In [28]:
# Number of Returns
df2_returns['monetary_returns'] = df2_returns.loc[:, ['customer_id','quantity','unit_price']].apply(lambda x: x['quantity'] * x['unit_price'] * (-1), axis = 1)
df2_monetary_returns = df2_returns.loc[:, ['customer_id','monetary_returns']].groupby('customer_id').sum().reset_index()
df_ref = pd.merge(df_ref, df2_monetary_returns, on ='customer_id', how='left')
df_ref.loc[df_ref['monetary_returns'].isna(), 'monetary_returns'] = 0  
df_ref.isna().sum()

/tmp/ipykernel_2237/2122528216.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_returns['monetary_returns'] = df2_returns.loc[:, ['customer_id','quantity','unit_price']].apply(lambda x: x['quantity'] * x['unit_price'] * (-1), axis = 1)

customer_id            0
gross_revenue         91
recency_days          91
purchases             91
items_purchased       91
avg_ticket            91
avg_recency_days    2816
number_returns         0
monetary_returns       0
dtype: int64

### 3.1.13 Delta_buy_return

In [29]:
df_ref['delta_buy_return'] = df_ref['monetary_returns'] / df_ref['gross_revenue']

# 4.0 EDA

In [62]:
df4 = df_ref.dropna()

## 4.3 Estudo do Espaço

In [63]:
feature_selected = ['items_purchased',
 'avg_ticket',
 'number_returns',
 'monetary_returns',
 'delta_buy_return','recency_days']

In [64]:
df43 = df4.drop(columns=['customer_id'], axis = 1).copy()

In [65]:
fs = s3fs.S3FileSystem()
mms_gross_revenue = pickle.load(fs.open('s3://insiders-dataset-ttb/mms_gross_revenue.pkl', 'rb'))
mms_recency_days = pickle.load(fs.open('s3://insiders-dataset-ttb/mms_recency_days.pkl', 'rb'))
mms_items_purchased = pickle.load(fs.open('s3://insiders-dataset-ttb/mms_items_purchased.pkl', 'rb'))
mms_avg_ticket = pickle.load(fs.open('s3://insiders-dataset-ttb/mms_avg_ticket.pkl', 'rb'))
mms_number_returns = pickle.load(fs.open('s3://insiders-dataset-ttb/mms_number_returns.pkl', 'rb'))
mms_monetary_returns = pickle.load(fs.open('s3://insiders-dataset-ttb/mms_monetary_returns.pkl', 'rb'))
mms_delta_buy_return = pickle.load(fs.open('s3://insiders-dataset-ttb/mms_delta_buy_return.pkl', 'rb'))

In [66]:
df43['gross_revenue'] = mms_gross_revenue.transform(df43[['gross_revenue']])
df43['recency_days'] = mms_recency_days.transform(df43[['recency_days']])
df43['items_purchased'] = mms_items_purchased.transform(df43[['items_purchased']])
df43['avg_ticket'] = mms_avg_ticket.transform(df43[['avg_ticket']])
df43['number_returns'] = mms_number_returns.transform(df43[['number_returns']])
df43['monetary_returns'] = mms_monetary_returns.transform(df43[['monetary_returns']])
df43['delta_buy_return'] = mms_delta_buy_return.transform(df43[['delta_buy_return']])

X = df43[feature_selected].copy()
y = df4['gross_revenue'].copy()

### 4.3.4 Tree Based Embedding

In [67]:
rf_model_from_s3 = pickle.load(fs.open('s3://insiders-dataset-ttb/rf_model.pkl', 'rb'))
df_leaf = pd.DataFrame(rf_model_from_s3.apply(X))

In [68]:
reducer = pickle.load(fs.open('s3://insiders-dataset-ttb/reducer.pkl', 'rb'))
embedding = reducer.transform(df_leaf)

# embedding
df_tree = pd.DataFrame()
# df_tree
df_tree['embedding_x'] = embedding[:, 0]
df_tree['embedding_y'] = embedding[:, 1]
df_tree['embedding_z'] = embedding[:, 2]
df_tree['embedding_a'] = embedding[:, 3]
df_tree['embedding_b'] = embedding[:, 4]
df_tree['embedding_c'] = embedding[:, 5]
df_tree['embedding_d'] = embedding[:, 6]
df_tree['embedding_e'] = embedding[:, 7]
df_tree['embedding_f'] = embedding[:, 8]
df_tree['embedding_g'] = embedding[:, 9]


# df4 
df4['embedding_x'] = embedding[:, 0]
df4['embedding_y'] = embedding[:, 1]
df4['embedding_z'] = embedding[:, 2]
df4['embedding_a'] = embedding[:, 3]
df4['embedding_b'] = embedding[:, 4]
df4['embedding_c'] = embedding[:, 5]
df4['embedding_d'] = embedding[:, 6]
df4['embedding_e'] = embedding[:, 7]
df4['embedding_f'] = embedding[:, 8]
df4['embedding_g'] = embedding[:, 9]

/tmp/ipykernel_2237/1304610535.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['embedding_x'] = embedding[:, 0]
/tmp/ipykernel_2237/1304610535.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['embedding_y'] = embedding[:, 1]
/tmp/ipykernel_2237/1304610535.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['embedding_z'] = embedding[:, 2]
/tmp/ipykernel_2237/1304610535.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['embedding_a'] = embedding[:, 3]
/tmp/ipykernel_2237/1304610535.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['embedding_b'] = embedding[:, 4]
/tmp/ipykernel_2237/1304610535.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['embedding_c'] = embedding[:, 5]
/tmp/ipykernel_2237/1304610535.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['embedding_d'] = embedding[:, 6]
/tmp/ipykernel_2237/1304610535.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['embedding_e'] = embedding[:, 7]
/tmp/ipykernel_2237/1304610535.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['embedding_f'] = embedding[:, 8]
/tmp/ipykernel_2237/1304610535.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['embedding_g'] = embedding[:, 9]

# 5.0 Data Preparation

# 7.0 HyperParameter Fine-Tunning

In [69]:
X = df_tree.copy()

# 8.0 Model Training

## 8.1 K-Means

In [70]:
# model definition
k = 10

hc_model = hc.linkage(X, method='ward')

    # model predict
labels = hc.fcluster(hc_model, k, criterion='maxclust')

# 9.0 Cluster Analysis

In [71]:
cols_selected = ['customer_id','gross_revenue', 'recency_days', 
 'items_purchased',
 'avg_ticket',
 'number_returns', 'purchases'
]

In [72]:
df9 = df4[cols_selected].copy()
df9['cluster'] = labels
df9['items_purchased'] = df9['items_purchased'].astype(int)
df9['recency_days'] = df9['recency_days'].astype(int)
df9['number_returns'] = df9['number_returns'].astype(int)

## 9.2 Cluster Profile

In [76]:
# Number of customers
df_cluster = df9[['customer_id','cluster']].groupby('cluster').count().reset_index()
df_cluster['perc_customer'] = 100* (df_cluster['customer_id'] / df_cluster['customer_id'].sum() )

# Avg gross_revenue
df_gross = df9[['gross_revenue','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_gross, on='cluster', how='left')


# Avg recency_days
df_recency_days = df9[['recency_days','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_recency_days, on='cluster', how='left')

# Avg purchases
df_purchases = df9[['purchases','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_purchases, on='cluster', how='left')

# Avg items_purchased
df_items_purchased = df9[['items_purchased','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_items_purchased, on='cluster', how='left')

# Avg number_returns
df_number_returns = df9[['number_returns','cluster']].groupby('cluster').mean().reset_index()
df_cluster = pd.merge(df_cluster, df_number_returns, on='cluster', how='left')



df_cluster['avg_ticket'] = df_cluster.apply(lambda x: x['gross_revenue'] / x['purchases'], axis = 1)
df_cluster = df_cluster.drop('purchases', axis = 1)
df_cluster = np.round(df_cluster, 2)


cluster_names = {
    10: "Elite Insiders",
    9: "Top Consumers",
    8: "Potential",
    5: "Promising",
    6: "Sporadic Consumers",
    7: "Risky Segment",
    1: "Need Attention",
    2: "At Risk",
    4: "Churn Group",
    3: "Hibernating"
}

df_cluster['cluster'] = df_cluster['cluster'].map(cluster_names)


df_cluster = df_cluster.sort_values('gross_revenue', ascending = False).reset_index(drop = True)

df_cluster

,cluster,customer_id,perc_customer,gross_revenue,recency_days,items_purchased,number_returns,avg_ticket
0,Elite Insiders,291,9.81,14985.14,21.13,9055.00,4.09,775.09
1,Top Consumers,175,5.90,3901.97,27.13,2325.30,1.69,419.70
2,Potential,365,12.30,2592.67,40.54,1588.74,1.31,383.90
3,Promising,331,11.16,1799.58,44.69,1057.24,0.98,343.52
4,Sporadic Consumers,242,8.16,1409.87,49.10,790.42,0.76,310.74
5,Risky Segment,326,10.99,1070.53,61.33,589.20,0.78,284.66
6,Need Attention,252,8.49,842.95,70.87,441.69,0.57,259.37
7,At Risk,512,17.26,592.36,86.88,293.97,0.49,220.57
8,Churn Group,237,7.99,431.12,132.49,144.71,0.62,231.69
9,Hibernating,236,7.95,237.94,103.94,111.90,0.31,97.49

- Cluster 10: Elite Insiders
- Cluster 9: Top Consumers
- Cluster 8: Potential
- Cluster 5: Promising
- Cluster 6 Sporadical Consumers
- Cluster 7: Risky Segment
- Cluster 1: Need Atention
- Cluster 2: At Risk
- Cluster 4: Churn Group
- Cluster 3: Hibernating

# 10.0 Deploy To Production

In [43]:
df10 = df9.drop(columns='purchases').copy()

## 10.1 Insert into SQLITe

In [55]:
# database connection
engine = create_engine('postgresql://meigarom:comunidadeds!@db-insiders.cha40cm68lvi.us-east-1.rds.amazonaws.com:5433/postgres')

conn = engine.connect()

# insert data
df10.to_sql('insiders', con = conn, if_exists= 'append', index = False)